
.ContainerPlaceholder {
  display: block;
  min-height: 100%;
  min-width: 100%;

  .ContainerPlaceholder-Inner {
    vertical-align: middle;
    text-align: center;

    .ContainerPlaceholder-Content {
      color: #707070;
      font-size: larger;
    }
  }

}

