

.Loading-Image {
  animation: Loading-image-spin infinite 3s linear;
  height: 80px;
  width: 80px;
  //background-color: rgba(224,224,224,0.1);
  //border: 4px dashed rgba(224,224,224,0.15);
  //border-radius: 50%;

  &.Full {
    height: auto;
    width: auto;
  }
}



@keyframes Loading-image-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
